#Logging
logging.level.root = warn
logging.level.com.github.mtesmct.rieau = debug
# SSO
keycloak.enabled = false
keycloak.realm = 
keycloak.auth-server-url = 
keycloak.ssl-required = external
keycloak.resource = 
keycloak.credentials.secret = 
keycloak.use-resource-role-mappings = true
# Persistence
spring.jpa.open-in-view=false