# Profiles
spring.profiles.active=@spring.profiles.active@
spring-boot.run.profiles=@spring-boot.run.profiles@

#Dates
app.date-format=dd/MM/yyyy
app.datetime-format=dd/MM/yyyy HH:mm:ss
spring.jackson.date-format=${app.date-format}
spring.jackson.time-zone=Europe/Paris

# File upload
spring.servlet.multipart.enabled=true
spring.servlet.multipart.max-request-size=20MB

#Logging
logging.level.root = warn
logging.level.com.github.mtesmct.rieau = warn
# logging.level.org.springframework.security = warn
# logging.level.org.hibernate.type=trace

# Persistence
spring.jpa.open-in-view=false
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/rieau
spring.datasource.username=rieau
spring.datasource.password=rieau
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.generate-ddl=false
spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration/{vendor}

# Fichiers
minio.enabled = true
minio.endpoint=http://localhost:9000
minio.access-key=minio
minio.secret-key=minio123
minio.bucket=rieau
minio.buffer=4096

#Security
keycloak.enabled = true
keycloak.principal-attribute=preferred_username
keycloak.realm = rieau
keycloak.auth-server-url = http://localhost:8080/auth
keycloak.ssl-required = external
keycloak.resource = rieau-api
keycloak.credentials.secret = secret
keycloak.use-resource-role-mappings = true
app.uri-url=http://localhost:3000

# HTTP server
server.port=5000