# Persistence
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/rieau
spring.datasource.username=rieau
spring.datasource.password=rieau
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.generate-ddl=false
spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration/{vendor}