# Persistence
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/rieau
spring.datasource.username=rieau
spring.datasource.password=rieau
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.generate-ddl=false
spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration/{vendor}

#Security
keycloak.enabled = true
keycloak.principal-attribute=preferred_username
keycloak.realm = rieau
keycloak.auth-server-url = http://localhost:8080/auth
keycloak.ssl-required = external
keycloak.resource = rieau-api
keycloak.credentials.secret = 
keycloak.use-resource-role-mappings = true

# Minio
minio.endpoint=http://localhost:9000
minio.access-key=
minio.secret-key=
minio.bucket=rieau
minio.buffer=4096