#Dates
app.date.format=dd/MM/yyyy
app.datetime.format=dd/MM/yyyy HH:mm:ss
spring.jackson.date-format=${app.date.format}
spring.jackson.time-zone=Europe/Paris

#CORS Policy
app.frontend.domain=http://localhost:3000

#Logging
logging.level.root = warn
logging.level.com.github.mtesmct.rieau = debug
# logging.level.org.hibernate.type=trace

#Persistence
spring.jpa.open-in-view=false
spring.datasource.driver-class-name=org.h2.Driver
spring.datasource.url=jdbc:h2:mem:db
spring.datasource.username=sa
spring.datasource.password=sa
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.H2Dialect
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.show-sql=true
spring.flyway.enabled=false

#Security
keycloak.enabled = true
keycloak.principal-attribute=preferred_username
keycloak.realm = rieau
keycloak.auth-server-url = http://localhost:8080/auth
keycloak.ssl-required = external
keycloak.resource = rieau-api
keycloak.credentials.secret = 
keycloak.use-resource-role-mappings = true